node_modules
DynamoDBLocal/
.env
*.log
*.zip
.serverless*
!.serverless_plugins
certs/
remote-service-map.json
*.js.map
serverless.yml
serverless-compiled.yml
serverless-interpolated.yml
vars.yml
secrets.yml
**/conf/**
!conf/default.json
lib/modelmap.json
lib/definitions.json
lib/cli/cloudformation-template.json
lib/serverless-interpolated.json
**/version.json
