node_modules
DynamoDBLocal/
.env
*.log
*.zip
.serverless*
!.serverless_plugins
certs/
remote-service-map.json
*.js.map
serverless.yml
serverless-compiled.yml
serverless-interpolated.yml
vars.yml
secrets.yml
conf/friends.js
conf/tradle.json
!conf/sample-conf.json
lib/modelmap.json
lib/cli/cloudformation-template.json
